<div class="jumbotron">
  <h1 class="display-4"><%= @team.name %></h1>
  <% if @team.manager.present? %>

  <h3>Manager: <%= @team.manager.name %> </h3>

  <% else %>
  <h3><%= @team.name %> has no manager</h3>
  <% end %>
  
  
  
  <hr class="my-4">
  <div class="row">
 
  <%= link_to 'Back', league_path(@team.league_id), :class => 'btn btn-outline-primary'%>
  <% if @team.manager.present?%>
  <%= link_to 'Remove Manager', league_team_manager_path(@team.league_id, @team, @team.manager), :class => 'btn btn-outline-danger', method: :delete,
              data: { confirm: 'Are you sure?' } %> 
  <% else %>
  <%= link_to 'Add Manager', new_league_team_manager_path(@team.league_id, @team), :class => 'btn btn-outline-success'%>
  <% end %>
  </div>
</div>


<div class="col-md-12 pb-3">
<h1>Players Squad</h1>
<% if @team.manager.present?%>
<%= link_to 'Add New Player', new_league_team_player_path(@team.league_id, @team), :class => 'btn btn-outline-success' %> 

<% end %>
</div>
<% if @team.manager.present?%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Jersey No</th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
  <% @team.manager.players.each do |player| %>

  <tr>
    <td><%= player.name%></td>
    <td> <%=player.jersey%> </td>
    <td> <%= link_to 'Edit', edit_league_team_player_path(league_id: @team.league_id, team_id: @team, id: player.id), :class => 'btn btn-outline-warning' %> | <%= link_to 'Destroy', league_team_player_path(@team.league_id, @team, player.id), :class => 'btn btn-outline-danger', method: :delete,
              data: { confirm: 'Are you sure?' } %> </td>
  </tr>
  <%end %>
    
  </tbody>
</table>

<% else %>
<h4><%= @team.name %> has no players. Assign manager to team before building squad.</h4>


<% end %>

<%= link_to 'Back', league_path(@team.league_id), :class => 'btn btn-outline-primary'%>

