<%= form_with(model: [ @league, @fixture ], local: true) do |form| %>

  <% if @fixture.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@fixture.errors.count, "error") %> prohibited
        this fixture from being created:
      </h2>
      <ul>
        <% @fixture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row col-md-12 pb-5">
    <div class="col-md-5 form-group">
      <p>
        <%= form.label :home_team %><br>
   
        <%= form.select :home_team, League.find(params[:league_id]).teams.collect { |t| [ t.name, t.name ] }, :class => 'form-cintrol' %>
      </p>
    </div>
    <div class="col-md-2">  
      <p><br />vs</p>
    </div>
    <div class="col-md-5">  
      <p>
        <%= form.label :away_team %><br>
        <%= form.select :away_team, League.find(params[:league_id]).teams.collect { |t| [ t.name, t.name ] }, :class => 'form-control' %>
      </p>
    </div>
  </div>
  <div class="col-md-12 form-group">
    <%= form.label :date %><br>
    <%= form.date_field :date, :class => 'form-control col-md-6' %>
  </div>
  
  <p>
    <%= form.submit :class=>'btn btn-outline-success' %>
  </p>
<% end %>
<%= link_to 'Back', league_fixtures_path(@league), :class => 'btn btn-outline-primary' %> 