<div class="jumbotron">
  <h1 class="display-4"><%= @manager.name %> - <%= @manager.team %></h1>
  
  <hr class="my-4">
  
  <%= link_to 'Back', managers_path, :class => 'btn btn-outline-primary'%>
</div>




<h1>Players</h1>

<%= link_to 'Add New Player', new_league_team_player_path(@manager.league_id), :class => 'btn btn-outline-success'%>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
  
    <%= render @team.players%>
  </tbody>
</table>

<%= link_to 'Back', managers_path, :class => 'btn btn-outline-primary'%>