<div class="jumbotron">
  <h1 class="display-4"><%= @league.name %> Table</h1>
  
  <hr class="my-4">

  <%= link_to 'Back To Teams', league_path(@league.id), :class => 'btn btn-outline-primary' %>
  
  

</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Team</th>
      <th>Matches Played</th>
      <th>Won</th>
      <th>Lost</th>
      <th>Drew</th>
      <th>Points</th>
      <th>Goal Diff</th>
    </tr>
  </thead>
  <tbody>
    <% @table_data.each_with_index do |td, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= td[:team] %></td>
        <td><%= td[:matches_played] %></td>
        <td><%= td[:won] %></td>
        <td><%= td[:lost] %></td>
        <td><%= td[:drew] %></td>
        <td><%= td[:points] %></td>
        <td><%= td[:goal_difference] %></td>
      </tr>
    <% end %>
  
  </tbody>
</table>

<%= link_to 'Back To Teams', league_path(@league.id), :class => 'btn btn-outline-primary' %>


